{%include 'head.html'%}
  <nav class="navbar menu">
        <ul>
            <div style="max-width: 1000px;" class="container">
            <div class="row">
              <li ><a href="/">Home</a></li>
              {% if logged==False %}
                <li><a href="/login">Sign in</a></li>
              {% else %}    
                <li><a href="/logout">Sign out</a></li>
              {%endif%}
              {% if logged==False %}
                <li><a href="/register">Sign up</a></li>
              {%else%}
                <li><a href="/post">Post</a></li>
              {%endif%}
              <li><a href="/profile">My Profile</a></li>
              <li style="color: #fff; display: block;text-align: center; padding: 14px 16px;text-decoration: none;
               float: right;">{{user}}</li>
            </div>
            </div>
        </ul>
        </nav>
    <div style="max-width: 1000px;" class="container">
		<div class="row">
			<h1>Hello {{user}}</h1>
		</div>
	</div>
  </div>
</body>
</html>